<div class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-grey-50 py-6 sm:py-12">
  <div class="relative bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-lg">
    <h2 class="text-2xl text-center mb-4">Sign up</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div>
        <%= f.label :avatar, "Attach profile photo:" %>
        <%= f.file_field :avatar, accept: 'image/png,image/gif,image/jpeg' %>
      </div>

      <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mt-6">
        <div>
          <div class="field">
            <%= f.label :first_name, class: "block font-medium text-gray-700" %>
            <%= f.text_field :first_name, autofocus: true, autocomplete: "first name", class: "w-full rounded-md border-gray-400 shadow-sm" %>
          </div>

          <div class="field mt-4">
            <%= f.label :last_name, class: "block font-medium text-gray-700" %>
            <%= f.text_field :last_name, autofocus: true, autocomplete: "last name", class: "w-full rounded-md border-gray-400 shadow-sm" %>
          </div>

          <div class="field mt-4">
            <%= f.label :contact_number, class: "block font-medium text-gray-700" %>
            <%= f.text_field :contact_number, class: "w-full rounded-md border-gray-400 shadow-sm" %>
          </div>

          <div class="mt-4">
            <%= f.label :nationality, class: "block font-medium text-gray-700" %>
            <%= f.country_select :nationality, {}, { class: "w-full rounded-md border-gray-400 shadow-sm" } %>
          </div>
        </div>

        <div>
          <div class="field">
            <%= f.label :date_of_birth, class: "block font-medium text-gray-700" %>
            <%= f.date_field :date_of_birth, class: "w-full rounded-md border-gray-400 shadow-sm" %>
          </div>

          <div class="field mt-4">
            <%= f.label :address, class: "block font-medium text-gray-700" %>
            <%= f.text_field :address, autofocus: true, autocomplete: "address", class: "w-full rounded-md border-gray-400 shadow-sm" %>
          </div>

          <div class="field mt-4">
            <%= f.label :email, class: "block font-medium text-gray-700" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full rounded-md border-gray-400 shadow-sm" %>
          </div>

          <div class="field mt-4">
            <%= f.label :password, class: "block font-medium text-gray-700" %>
            <%= f.password_field :password, autocomplete: "new-password", class: "w-full rounded-md border-gray-400 shadow-sm", placeholder: "6 characters minimum" %>
          </div>

          <div class="field mt-4">
            <%= f.label :password_confirmation, class: "block font-medium text-gray-700" %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full rounded-md border-gray-400 shadow-sm" %>
          </div>
        </div>
      </div>

      <div class="flex justify-between items-center mt-6 gap-x-4">
        <%= link_to "Cancel", user_session_path, class: "bg-white border border-gray-400 hover:bg-blue-700 text-black font-bold py-2 px-6 rounded cursor-pointer w-full sm:w-1/2 text-center" %>
        <%= f.submit "Confirm", class: "bg-purple-500 hover:bg-blue-700 text-white font-bold py-2 px-6 rounded cursor-pointer w-full sm:w-1/2" %>
      </div>
  <% end %>
    <div class="mt-4 text-base font-semibold leading-7 text-center">
        Already have an account? <%= link_to "Log in", user_session_path, class: "text-blue-600 hover:text-blue-800 underline" %><br />
    </div>
  </div>
</div>

