<div class="relative flex min-h-screen flex-col justify-center overflow-hidden py-6 sm:py-12">
  <div class="relative bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-sky-900/5 sm:mx-auto sm:max-w-3xl sm:rounded-lg">
    <h2 class="text-2xl text-center mb-4 text-sky-700">Sign up</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div x-data="{photoName: null, photoPreview: null}" class="col-span-6 ml-2 sm:col-span-4 md:mr-3">
        <!-- Photo File Input -->
        <%= f.file_field :avatar, accept: 'image/png,image/gif,image/jpeg', class: 'hidden', 'x-ref': 'photo', 'x-on:change': "
                                                                                    photoName = $refs.photo.files[0].name;
                                                                                    const reader = new FileReader();
                                                                                    reader.onload = (e) => {
                                                                                      photoPreview = e.target.result;
                                                                                    };
                                                                                    reader.readAsDataURL($refs.photo.files[0]);
                                                                                  " %>

        <label class="block text-sky-700 text-sm font-bold mb-2 text-center" for="photo">
          Attach profile photo:
        </label>

        <div class="text-center">
          <!-- Current Profile Photo -->
          <div class="mt-2" x-show="!photoPreview">
            <%= image_tag 'customer_icon.png', class: "w-20 h-20 m-auto rounded-full shadow" %>
          </div>
          <!-- New Profile Photo Preview -->
          <div class="mt-2" x-show="photoPreview" style="display: none;">
      <span class="block w-20 h-20 rounded-full m-auto shadow" x-bind:style="'background-size: cover; background-repeat: no-repeat; background-position: center center; background-image: url(\'' + photoPreview + '\');'" style="background-size: cover; background-repeat: no-repeat; background-position: center center; background-image: url('null');">
      </span>
          </div>
          <button type="button" class="inline-flex items-center px-4 py-2 bg-sky-100 border border-sky-300 rounded-md font-semibold text-xs text-sky-700 uppercase tracking-widest shadow-sm hover:bg-sky-200 focus:outline-none focus:border-sky-400 focus:shadow-outline-sky active:text-sky-800 active:bg-sky-50 transition ease-in-out duration-150 mt-2 ml-3" x-on:click.prevent="$refs.photo.click()">
            Select New Photo
          </button>
        </div>
      </div>

      <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 mt-6">
        <div>
          <div class="field mb-4">
            <label
              for="first_name"
              class="relative block overflow-hidden border-b border-black bg-transparent pt-3 focus-within:border-sky-500"
            >
              <%= f.text_field :first_name, id: "first_name", placeholder: "", autofocus: true, autocomplete: "first_name", class: "peer h-8 w-full border-none bg-transparent p-0 placeholder-sky-300 focus:border-transparent focus:outline-none focus:ring-0 sm:text-lg" %>
              <span
                class="absolute start-0 top-2 -translate-y-1/2 text-base text-black transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-lg peer-focus:top-2 peer-focus:text-base peer-focus:text-sky-500"
              >
                First Name
              </span>
            </label>
          </div>

          <div class="field mb-4 group">
            <label
              for="date_of_birth"
              class="relative block overflow-hidden border-b border-black bg-transparent pt-3 focus-within:border-sky-600 group-focus-within:text-sky-600"
            >
              <%= f.date_field :date_of_birth, id: "date_of_birth", placeholder: "", class: "peer h-8 w-full border-none bg-transparent p-0 placeholder-sky-300 focus:border-transparent focus:outline-none focus:ring-0 sm:text-lg text-black" %>
              <span
                class="absolute start-0 top-2 -translate-y-1/2 text-base text-black transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-lg peer-focus:top-2 peer-focus:text-base peer-focus:text-sky-500"
              >
                Date of Birth
              </span>
            </label>
          </div>


          <div class="mb-4 group">
            <%= f.label :nationality, class: "block font-medium text-black group-focus-within:text-sky-600" %>
            <%= f.country_select :nationality, {format: :with_flag}, { class: "w-full rounded-md border-black shadow-sm focus:border-sky-500 focus:ring focus:ring-sky-200 focus:ring-opacity-50" } %>
          </div>

          <div class="field mb-4">
            <label
              for="password"
              class="relative block overflow-hidden border-b border-black bg-transparent pt-3 focus-within:border-sky-600"
            >
              <%= f.password_field :password, id: "password", placeholder: "", autofocus: true, autocomplete: "email", class: "peer h-8 w-full border-none bg-transparent p-0 placeholder-sky-300 focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm" %>
              <span
                class="absolute start-0 top-2 -translate-y-1/2 text-base text-black transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-lg peer-focus:top-2 peer-focus:text-base peer-focus:text-sky-500"
              >
                  Password
                </span>
            </label>
          </div>

        </div>

        <div>

          <div class="field mb-4">
            <label
              for="last_name"
              class="relative block overflow-hidden border-b border-black bg-transparent pt-3 focus-within:border-sky-500"
            >
              <%= f.text_field :last_name, id: "last_name", placeholder: "", autocomplete: "last name", class: "peer h-8 w-full border-none bg-transparent p-0 placeholder-sky-300 focus:border-transparent focus:outline-none focus:ring-0 sm:text-lg" %>
              <span
                class="absolute start-0 top-2 -translate-y-1/2 text-base text-black transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-lg peer-focus:top-2 peer-focus:text-base peer-focus:text-sky-500"
              >
                  Last Name
                </span>
            </label>
          </div>



          <div class="field mb-4 group" data-controller="phone-number">
            <%= f.label :contact_number, class: "block font-medium text-black group-focus-within:text-sky-600" %>
            <div class="w-full max-w-sm min-w-[200px]">
              <div class="relative mt-1">
                <div class="absolute top-2 left-0 flex items-center pl-3">
                </div>
                <%= f.telephone_field :contact_number, id: "phone-input", data: { phone_number_target: "phoneInput" }, class: "w-full bg-transparent placeholder:text-sky-400 text-sky-700 text-sm border border-black rounded-md pr-3 pl-20 py-2 transition duration-300 ease focus:outline-none focus:border-sky-400 shadow-sm focus:shadow" %>
              </div>
            </div>
          </div>


          <div class="field mb-4">
            <label
              for="UserEmail"
              class="relative block overflow-hidden border-b border-black bg-transparent pt-3 focus-within:border-sky-600"
            >
              <%= f.email_field :email, id: "UserEmail", placeholder: "", autofocus: true, autocomplete: "email", class: "peer h-8 w-full border-none bg-transparent p-0 placeholder-sky-300 focus:border-transparent focus:outline-none focus:ring-0 sm:text-lg" %>
              <span
                class="absolute start-0 top-2 -translate-y-1/2 text-base text-black transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-lg peer-focus:top-2 peer-focus:text-base peer-focus:text-sky-500"
              >
                  Email
                </span>
            </label>
          </div>


          <div class="field mb-4">
            <label
              for="password_confirmation"
              class="relative block overflow-hidden border-b border-black bg-transparent pt-3 focus-within:border-sky-600"
            >
              <%= f.password_field :password_confirmation, id: "password_confirmation", placeholder: "", autofocus: true, autocomplete: "new-password", class: "peer h-8 w-full border-none bg-transparent p-0 placeholder-sky-300 focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm" %>
              <span
                class="absolute start-0 top-2 -translate-y-1/2 text-base text-black transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-lg peer-focus:top-2 peer-focus:text-base peer-focus:text-sky-500"
              >
                  Password Confirmation
                </span>
            </label>
          </div>
        </div>
      </div>

      <div class="flex justify-between items-center mt-6 gap-x-4">
        <%= link_to "Cancel", user_session_path, class: "bg-white border border-sky-400 hover:bg-sky-100 text-sky-700 font-bold py-2 px-6 rounded-full cursor-pointer w-full sm:w-1/2 text-center transition duration-300" %>
        <%= f.submit "Confirm", class: "bg-sky-500 hover:bg-sky-600 text-white font-bold py-2 px-6 rounded-full cursor-pointer w-full sm:w-1/2 transition duration-300" %>
      </div>
    <% end %>
    <div class="mt-4 text-base font-semibold leading-7 text-center">
      Already have an account? <%= link_to "Sign in", user_session_path, class: "text-sky-600 hover:text-sky-800 underline" %><br />
    </div>
  </div>
</div>
