<div class="relative flex min-h-screen flex-col justify-center overflow-hidden py-6 sm:py-12">
  <div class="relative bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-sky-900/5 sm:mx-auto sm:max-w-lg sm:rounded-lg">
    <h2 class="text-2xl text-center mb-4 text-sky-700">Sign up</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div x-data="{photoName: null, photoPreview: null}" class="col-span-6 ml-2 sm:col-span-4 md:mr-3">
        <!-- Photo File Input -->
        <%= f.file_field :avatar, accept: 'image/png,image/gif,image/jpeg', class: 'hidden', 'x-ref': 'photo', 'x-on:change': "
                                                                                    photoName = $refs.photo.files[0].name;
                                                                                    const reader = new FileReader();
                                                                                    reader.onload = (e) => {
                                                                                      photoPreview = e.target.result;
                                                                                    };
                                                                                    reader.readAsDataURL($refs.photo.files[0]);
                                                                                  " %>

        <label class="block text-sky-700 text-sm font-bold mb-2 text-center" for="photo">
          Attach profile photo:
        </label>

        <div class="text-center">
          <!-- Current Profile Photo -->
          <div class="mt-2" x-show="!photoPreview">
            <%= image_tag 'customer_icon.png', class: "w-20 h-20 m-auto rounded-full shadow" %>
          </div>
          <!-- New Profile Photo Preview -->
          <div class="mt-2" x-show="photoPreview" style="display: none;">
      <span class="block w-20 h-20 rounded-full m-auto shadow" x-bind:style="'background-size: cover; background-repeat: no-repeat; background-position: center center; background-image: url(\'' + photoPreview + '\');'" style="background-size: cover; background-repeat: no-repeat; background-position: center center; background-image: url('null');">
      </span>
          </div>
          <button type="button" class="inline-flex items-center px-4 py-2 bg-sky-100 border border-sky-300 rounded-md font-semibold text-xs text-sky-700 uppercase tracking-widest shadow-sm hover:bg-sky-200 focus:outline-none focus:border-sky-400 focus:shadow-outline-sky active:text-sky-800 active:bg-sky-50 transition ease-in-out duration-150 mt-2 ml-3" x-on:click.prevent="$refs.photo.click()">
            Select New Photo
          </button>
        </div>
      </div>

      <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mt-6">
        <div>
          <div class="field">
            <%= f.label :first_name, class: "block font-medium text-sky-700" %>
            <%= f.text_field :first_name, autofocus: true, autocomplete: "first name", class: "w-full rounded-md border-sky-300 shadow-sm focus:border-sky-500 focus:ring focus:ring-sky-200 focus:ring-opacity-50" %>
          </div>

          <div class="field mt-4">
            <%= f.label :last_name, class: "block font-medium text-sky-700" %>
            <%= f.text_field :last_name, autofocus: true, autocomplete: "last name", class: "w-full rounded-md border-sky-300 shadow-sm focus:border-sky-500 focus:ring focus:ring-sky-200 focus:ring-opacity-50" %>
          </div>

          <div class="field mt-4" data-controller="phone-number">
            <%= f.label :contact_number, class: "block font-medium text-sky-700" %>
            <div class="w-full max-w-sm min-w-[200px]">
              <div class="relative mt-1">
                <div class="absolute top-2 left-0 flex items-center pl-3">
                  <button
                    id="dropdownButton"
                    class="h-full text-sm flex justify-center items-center bg-transparent text-sky-700 focus:outline-none"
                    data-action="click->phone-number#toggleDropdown"
                  >
                    <span id="dropdownSpan" data-phone-number-target="dropdownSpan">+33</span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="h-4 w-4 ml-1"
                    >
                      <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                    </svg>
                  </button>
                  <div class="h-6 border-l border-sky-200 ml-2"></div>
                  <div
                    id="dropdownMenu"
                    class="min-w-[150px] absolute left-0 w-full mt-10 hidden bg-white border border-sky-200 rounded-md shadow-lg z-10"
                    data-phone-number-target="dropdownMenu"
                  >
                    <ul id="dropdownOptions" data-action="click->phone-number#selectCountryCode">
                      <li class="px-4 py-2 text-sky-600 hover:bg-sky-50 text-sm cursor-pointer" data-value="+33">
                        France (+33)
                      </li>
                      <li class="px-4 py-2 text-sky-600 hover:bg-sky-50 text-sm cursor-pointer" data-value="+49">
                        Germany (+49)
                      </li>
                      <li class="px-4 py-2 text-sky-600 hover:bg-sky-50 text-sm cursor-pointer" data-value="+34">
                        Spain (+34)
                      </li>
                      <li class="px-4 py-2 text-sky-600 hover:bg-sky-50 text-sm cursor-pointer" data-value="+1">
                        USA (+1)
                      </li>
                      <li class="px-4 py-2 text-sky-600 hover:bg-sky-50 text-sm cursor-pointer" data-value="+880">
                        BD (+880)
                      </li>
                    </ul>
                  </div>
                </div>
                <input
                  type="tel"
                  class="w-full bg-transparent placeholder:text-sky-400 text-sky-700 text-sm border border-sky-200 rounded-md pr-3 pl-20 py-2 transition duration-300 ease focus:outline-none focus:border-sky-400 hover:border-sky-300 shadow-sm focus:shadow"
                  placeholder="324-456-2323"
                  pattern="[0-9]*"
                  inputmode="numeric"
                  maxlength="12"
                  id="phoneNumberInput"
                  data-phone-number-target="phoneNumberInput"
                  data-action="input->phone-number#updatePhoneNumber"
                  />
                <!-- Hidden input to store the full phone number -->
                <%= f.hidden_field :contact_number, id: "fullPhoneNumber", data: { phone_number_target: "fullPhoneNumber" } %>
              </div>
            </div>
          </div>

          <div class="mt-4">
            <%= f.label :nationality, class: "block font-medium text-sky-700" %>
            <%= f.country_select :nationality, {}, { class: "w-full rounded-md border-sky-300 shadow-sm focus:border-sky-500 focus:ring focus:ring-sky-200 focus:ring-opacity-50" } %>
          </div>
        </div>

        <div>
          <div class="field">
            <%= f.label :date_of_birth, class: "block font-medium text-sky-700" %>
            <%= f.date_field :date_of_birth, class: "w-full rounded-md border-sky-300 shadow-sm focus:border-sky-500 focus:ring focus:ring-sky-200 focus:ring-opacity-50" %>
          </div>

          <div class="field mt-4">
            <%= f.label :address, class: "block font-medium text-sky-700" %>
            <%= f.text_field :address, autofocus: true, autocomplete: "address", class: "w-full rounded-md border-sky-300 shadow-sm focus:border-sky-500 focus:ring focus:ring-sky-200 focus:ring-opacity-50" %>
          </div>

          <div class="field mt-4">
            <%= f.label :email, class: "block font-medium text-sky-700" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full rounded-md border-sky-300 shadow-sm focus:border-sky-500 focus:ring focus:ring-sky-200 focus:ring-opacity-50" %>
          </div>

          <div class="field mt-4">
            <%= f.label :password, class: "block font-medium text-sky-700" %>
            <%= f.password_field :password, autocomplete: "new-password", class: "w-full rounded-md border-sky-300 shadow-sm focus:border-sky-500 focus:ring focus:ring-sky-200 focus:ring-opacity-50", placeholder: "6 characters minimum" %>
          </div>

          <div class="field mt-4">
            <%= f.label :password_confirmation, class: "block font-medium text-sky-700" %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full rounded-md border-sky-300 shadow-sm focus:border-sky-500 focus:ring focus:ring-sky-200 focus:ring-opacity-50" %>
          </div>
        </div>
      </div>

      <div class="flex justify-between items-center mt-6 gap-x-4">
        <%= link_to "Cancel", user_session_path, class: "bg-white border border-sky-400 hover:bg-sky-100 text-sky-700 font-bold py-2 px-6 rounded cursor-pointer w-full sm:w-1/2 text-center transition duration-300" %>
        <%= f.submit "Confirm", class: "bg-sky-500 hover:bg-sky-600 text-white font-bold py-2 px-6 rounded cursor-pointer w-full sm:w-1/2 transition duration-300" %>
      </div>
    <% end %>
    <div class="mt-4 text-base font-semibold leading-7 text-center">
      Already have an account? <%= link_to "Log in", user_session_path, class: "text-sky-600 hover:text-sky-800 underline" %><br />
    </div>
  </div>
</div>