<h1 class="text-2xl text-blue-600">Edit menu item</h1>

<div class="mt-2">
  <strong>Images:</strong>
  <% if @menu_item.menu_images.attached? %>
    <div class="flex space-x-2">
      <% @menu_item.menu_images.each do |image| %>
        <div class="relative w-32 h-32 border border-gray-200 rounded">
          <%= image_tag image, class: "object-cover w-full h-full" %>

          <!-- Delete Button -->
          <%= button_to 'Delete', delete_menu_item_image_menu_item_path(@menu_item, image_id: image.id),
                        method: :delete,
                        class: "absolute top-0 right-0 bg-red-500 text-white px-2 py-1 rounded" %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>No images available</p>
  <% end %>
</div>

<%= form_with(model: @menu_item) do |form| %>
  <% if @menu_item.errors.any? %>
    <div role="alert" >
      <h2 class="font-bold"><%= pluralize(@menu_item.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
        <% @menu_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<!--  <div class="mb-4">-->
    <%#= form.label :menu_images, "Attach menu photos:" %>

    <%# @menu_item.menu_images.each do |image| %>
      <%#= form.hidden_field :menu_images, multiple: true, value: image.signed_id %>
    <%# end %>
    <%#= form.file_field :menu_images, accept: 'image/png,image/gif,image/jpeg,image/webp', multiple: true%>
<!--  </div>-->

  <%= render "edit_menu_images_preview", form: form, menu_item: @menu_item %>


  <div class="mb-4">
    <%= form.label "Category:"%>
    <%= form.select :category, options_for_select([
                                                    ["Appetizers", "Appetizers"],
                                                    ["Desserts", "Desserts"],
                                                    ["Beverages", "Beverages"],
                                                    ["Main Menu", "Main Menu"],
                                                  ].sort, selected: @menu_item.category), include_blank: "Select Category"%>
  </div>

  <div class="mb-4">
    <%= form.label "Subcategory:"%>
    <%= form.select :subcategory, options_for_select([
                                                       ["Soft drinks", "Soft drinks"],
                                                       ["Fruit smoothies", "Fruit smoothies"],
                                                       ["Energy drinks", "Energy drinks"],
                                                       ["Chicken wings", "Chicken wings"],
                                                       ["Sliders", "Sliders"],
                                                       ["Dumplings", "Dumplings"],
                                                       ["Chicoo", "Chicoo"],
                                                       ["Jell-O", "Jell-O"],
                                                       ["YoGo", "YoGo"],
                                                       ["Grilled Chicken Alfredo", "Grilled Chicken Alfredo"],
                                                       ["Vegetable Stir-Fry", "Vegetable Stir-Fry"],
                                                       ["Beef Tacos", "Beef Tacos"],
                                                     ].sort, selected: @menu_item.subcategory), include_blank: "Select Subcategory"%>
  </div>

  <div class="mb-4">
    <%= form.label "Title:"%>
    <%= form.text_field :title, placeholder: "", class: "shadow appearance-none border rounded w-1/8 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4">
    <%= form.label "Description:"%>
    <%= form.text_area :description, placeholder: "", class: "shadow appearance-none border rounded w-1/8 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4">
    <%= form.label "Price:"%>
    <%= form.number_field :price, step: 0.01, min: 0, placeholder: "", class: "shadow appearance-none border rounded w-1/8 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4">
    <%= form.label :availability, "Availability:" %>
    <div class="flex items-center">
      <%= form.radio_button :availability, true, id: "availability_yes" %>
      <%= form.label :availability_yes, "Yes", class: "ml-2" %>

      <%= form.radio_button :availability, false, id: "availability_no" %>
      <%= form.label :availability_no, "No", class: "ml-2" %>
    </div>
  </div>

  <div class="mb-4">
    <%= form.submit "Submit", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>

<% end %>