<div class="text-blue-600 hover:underline">
  <%= link_to "Add Menu Item", new_menu_item_path %>
</div>

<div>
  <h2 class="text-xl">All Menu Items</h2>
  <% @menu_items.each do |menu_item| %>
    <div class="border border-gray-300 p-4 mb-4 rounded">
      <h3 class="text-lg font-bold"><%= menu_item.title %></h3>
      <p><strong>Category:</strong> <%= menu_item.category %></p>
      <p><strong>Subcategory:</strong> <%= menu_item.subcategory %></p>
      <p><strong>Description:</strong> <%= menu_item.description %></p>
      <p><strong>Price:</strong> <%= number_to_currency(menu_item.price) %></p>
      <p><strong>Available:</strong> <%= menu_item.availability ? 'Yes' : 'No' %></p>
      <p><strong>Menu Created At:</strong> <%= menu_item.created_at.strftime('%B %d, %Y %I:%M %p') %> in UTC</p>
      <p><strong>Menu Updated At:</strong> <%= menu_item.updated_at.strftime('%B %d, %Y %I:%M %p') %> in UTC</p>

      <div class="mt-2">
        <strong>Images:</strong>
        <% if menu_item.menu_images.attached? %>
          <div class="flex space-x-2">
            <% menu_item.menu_images.each do |image| %>
              <div class="w-32 h-32 border border-gray-200 rounded">
                <%= image_tag image, class: "object-cover w-full h-full" %>
              </div>
            <% end %>
          </div>
        <% else %>
          <p>No images available</p>
        <% end %>
      </div>

      <div class="mt-4">
        <%#= link_to 'Show', admin_menu_item_path(menu_item), class: "text-blue-600 hover:underline" %>
        <%= link_to 'Edit', edit_menu_item_path(menu_item), class: "text-blue-600 hover:underline ml-2" %>
        <%= link_to "Delete", menu_item_path(menu_item), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "text-red-500 hover:text-red-600" %>
      </div>
    </div>
  <% end %>
</div>
