<div class="relative overflow-x-auto shadow-md sm:rounded-lg p-2">

  <div class="flex flex-col bg-gray-200 p-4 rounded-lg w-full shadow-lg mb-2">
    <div class="flex flex-wrap justify-between w-full">
      <div class="flex flex-col items-center mx-2">
        <span>Total Orders:</span>
        <span class="font-bold"><%= @total_orders %></span>
      </div>
      <div class="border-l border-gray-400 h-10 mx-2"></div>
      <div class="flex flex-col items-center mx-2">
        <span>Pending Orders:</span>
        <span class="font-bold"><%= @total_pending_orders %></span>
      </div>
      <div class="border-l border-gray-400 h-10 mx-2"></div>
      <div class="flex flex-col items-center mx-2">
        <span>Cooking Orders:</span>
        <span class="font-bold"><%= @total_cooking_orders %></span>
      </div>
      <div class="border-l border-gray-400 h-10 mx-2"></div>
      <div class="flex flex-col items-center mx-2">
        <span>Completed Orders:</span>
        <span class="font-bold"><%= @total_completed_orders %></span>
      </div>
      <div class="border-l border-gray-400 h-10 mx-2"></div>
      <div class="flex flex-col items-center mx-2">
        <span>Cancelled Orders:</span>
        <span class="font-bold"><%= @total_cancelled_orders %></span>
      </div>
    </div>
  </div>



  <div class="flex flex-col p-1 text-lg">
    <div class="flex">
      <%= link_to "All", orders_path, class: "text-gray-500 text-center p-2 hover:text-gray-700 #{'text-gray-700 underline' if params[:status].blank?}" %>
      <%= link_to "Pending", orders_path(status: 'pending'), class: "text-gray-500 text-center p-2 hover:text-gray-700 #{'text-gray-700 underline' if params[:status] == 'pending'}" %>
      <%= link_to "Cooking", orders_path(status: 'cooking'), class: "text-gray-500 text-center p-2 hover:text-gray-700 #{'text-gray-700 underline' if params[:status] == 'cooking'}" %>
      <%= link_to "Completed", orders_path(status: 'completed'), class: "text-gray-500 text-center p-2 hover:text-gray-700 #{'text-gray-700 underline' if params[:status] == 'completed'}" %>
      <%= link_to "Cancelled", orders_path(status: 'cancelled'), class: "text-gray-500 text-center p-2 hover:text-gray-700 #{'text-gray-700 underline' if params[:status] == 'cancelled'}" %>
    </div>

    <hr class="my-2 border-gray-300" />
  </div>


  <div class="pb-4 bg-white">
    <div class="relative mt-1">
      <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
        <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
        </svg>
      </div>
      <%= form_with(url: orders_path, local: true, method: :get) do |form| %>
        <%= form.text_field :search_orders,
                            value: params[:search_orders],
                            placeholder: "Search Menu Items...",
                            class: "block pt-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500"%>

        <%= hidden_field_tag :status, params[:status] %>
      <% end %>
    </div>
  </div>

  <table class="w-full text-sm text-left rtl:text-right text-gray-500">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
    <tr>
      <th scope="col" class="p-4">
        <div class="flex items-center">
          <input id="checkbox-all-search" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2">
          <label for="checkbox-all-search" class="sr-only">checkbox</label>
        </div>
      </th>
      <th scope="col" class="px-6 py-3">Product Name</th>
      <th scope="col" class="px-6 py-3">User</th>
      <th scope="col" class="px-6 py-3">Status</th>
      <th scope="col" class="px-6 py-3">Total Price</th>
      <th scope="col" class="px-6 py-3">Payment Method</th>
    </tr>
    </thead>
    <tbody>
    <% if @orders.any? %>
      <% @orders.each do |order| %>
        <tr class="bg-white border-b hover:bg-gray-50">
          <td class="w-4 p-4">
            <div class="flex items-center">
              <input id="checkbox-table-search-<%= order.id %>" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2">
              <label for="checkbox-table-search-<%= order.id %>" class="sr-only">checkbox</label>
            </div>
          </td>
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
            <%= order.order_items.map { |item| item.menu_item.title }.join(", ") %>
          </th>
          <td class="px-6 py-4">
            <%= order.user.full_name %>
          </td>
          <td class="px-6 py-4">
            <%= form_with(model: order, url: order_path(order), local: true, method: :patch, class: "inline", data: { controller: 'auto-submit' }) do |form| %>
              <%= hidden_field_tag :status, params[:status] %>
              <%= form.select :status,
                              options_for_select([['Pending', 'pending'], ['Completed', 'completed'], ['Cancelled', 'cancelled'], ['Cooking', 'cooking']], order.status),
                              {},
                              { class: "border border-gray-300 rounded p-2 w-full", data: { action: 'change->auto-submit#submit' } } %>
            <% end %>
          </td>
          <td class="px-6 py-4">
            <%= number_to_currency(order.total_price, unit: "$") %>
          </td>
          <td class="px-6 py-4">
            <%= order.payment_method %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="6" class="px-6 py-4 text-center">No orders found.</td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
