<div class="relative">
  <div class="relative bg-opacity-75 min-h-[885px]">
    <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
      <div class="flex flex-col items-center justify-between xl:flex-row">
        <div class="w-full max-w-xl mb-12 xl:mb-0 xl:pr-16 xl:w-7/12">
          <div class="max-w-lg mb-6 font-sans text-7xl font-bold tracking-tight text-white" style="text-shadow: 2px 2px 10px rgba(0, 0, 0, 1);">
            Fresh Food <br class="hidden md:block" />
            with Great Taste.
          </div>
          <p class="max-w-xl mb-4 text-base text-gray-200 md:text-lg" style="text-shadow: 2px 2px 10px rgba(0, 0, 0, 1);">
            Our food is made from the freshest ingredients, crafted to perfection, and served with love for an unforgettable dining experience.
          </p>
          <%= link_to "Browse Menus", root_path, class: "px-6 py-2 text-lg text-white font-semibold rounded-full border border-sky-600 bg-gradient-to-r from-sky-400 to-sky-600 hover:from-sky-500 hover:to-sky-700 hover:shadow-lg transition duration-300 ease-in-out cursor-pointer text-center" %>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="bg-gray-100 text-gray-600">
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16">
    <div class="mx-auto max-w-lg text-left">
      <blockquote class="text-xl italic font-semibold text-gray-900">
        <svg class="w-8 h-8 text-gray-600 mb-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 14">
          <path d="M6 0H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3H2a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Zm10 0h-4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3h-1a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Z"/>
        </svg>
        <h2 class="text-3xl font-bold mb-6">
          We try to keep as <span class="text-sky-600">Fresh</span> and <span class="text-sky-600">Healthy</span> as possible by using <span class="text-sky-600">Local Seasoning Ingredients</span>.
          At the same time, we avoid using Artificial Ingredients and Food Additives during the cooking process.
        </h2>
      </blockquote>
    </div>
  </div>
</section>


<!--Recommended Dishes-->
<section class="mt-8">
  <h2 class="text-center text-4xl font-bold tracking-tight text-sky-500 sm:text-5xl px-4 py-8">
    Recommended Dishes
  </h2>
  <div class="flex flex-wrap gap-4 p-2 ml-10">
    <% @home_page_menu_items.each do |menu_item| %>
      <div class="w-72 max-w-sm bg-white rounded-lg shadow-lg border border-sky-200">
        <div class="swiper relative" data-controller="swiper" style="width: 100%; height: 300px;">
          <div class="swiper-wrapper">
            <% if menu_item.menu_images.attached? %>
              <% menu_item.menu_images.each do |image| %>
                <div class="swiper-slide flex justify-center items-center">
                  <div class="p-2 w-full h-full">
                    <%= image_tag image, class: "object-cover w-full h-full rounded-md" %>
                  </div>
                </div>
              <% end %>
            <% else %>
              <div class="swiper-slide flex justify-center items-center">
                <p class="text-gray-600 text-center w-full h-full flex items-center justify-center">
                  No images available
                </p>
              </div>
            <% end %>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>

        <div class="bg-white p-4 sm:p-6">
          <div class="flex justify-between items-start mb-2">
            <h3 class="text-2xl font-bold tracking-tight text-sky-500 flex-1 mr-1 min-h-[3em] hover:underline">
              <%= link_to menu_item.title, menu_item_path(menu_item) %>
            </h3>
          </div>

          <hr>
          <div class="flex justify-between items-center space-x-4 mt-4">
            <div class="text-center">
              <div class="text-sm text-gray-500">Price</div>
              <div class="text-lg font-semibold">$<%= menu_item.price %></div>
            </div>
            <div class="border-l border-gray-400 h-6"></div>
            <div class="text-center">
              <div class="text-sm text-gray-500">Rating</div>
              <div class="text-lg font-semibold flex items-center">
                <%= menu_item.avg_rating %>
                <span class="text-base text-gray-500 ml-1">(<%= menu_item.total_rating %>)</span>
              </div>
            </div>
          </div>

        </div>
      </div>
    <% end %>
  </div>

</section>


<!--Popular Dishes-->
<section class="mt-8">
  <h2 class="text-center text-4xl font-bold tracking-tight text-sky-500 sm:text-5xl px-4 py-8">
    Our Most Popular Dishes
  </h2>
  <div class="flex flex-wrap gap-4 p-2 ml-10">
    <% @home_page_menu_items.each do |menu_item| %>
      <div class="w-72 max-w-sm bg-white rounded-lg shadow-lg border border-sky-200">
        <div class="swiper relative" data-controller="swiper" style="width: 100%; height: 300px;">
          <div class="swiper-wrapper">
            <% if menu_item.menu_images.attached? %>
              <% menu_item.menu_images.each do |image| %>
                <div class="swiper-slide flex justify-center items-center">
                  <div class="p-2 w-full h-full">
                    <%= image_tag image, class: "object-cover w-full h-full rounded-md" %>
                  </div>
                </div>
              <% end %>
            <% else %>
              <div class="swiper-slide flex justify-center items-center">
                <p class="text-gray-600 text-center w-full h-full flex items-center justify-center">
                  No images available
                </p>
              </div>
            <% end %>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>

        <div class="bg-white p-4 sm:p-6">
          <div class="flex justify-between items-start mb-2">
            <h3 class="text-2xl font-bold tracking-tight text-sky-500 flex-1 mr-1 min-h-[3em] hover:underline">
              <%= link_to menu_item.title, menu_item_path(menu_item) %>
            </h3>
          </div>

          <hr>
          <div class="flex justify-between items-center space-x-4 mt-4">
            <div class="text-center">
              <div class="text-sm text-gray-500">Price</div>
              <div class="text-lg font-semibold">$<%= menu_item.price %></div>
            </div>
            <div class="border-l border-gray-400 h-6"></div>
            <div class="text-center">
              <div class="text-sm text-gray-500">Rating</div>
              <div class="text-lg font-semibold flex items-center">
                <%= menu_item.avg_rating %>
                <span class="text-base text-gray-500 ml-1">(<%= menu_item.total_rating %>)</span>
              </div>
            </div>
          </div>

        </div>
      </div>
    <% end %>
  </div>

</section>

<!--Categorized View-->
<section class="mt-8">
  <h2 class="text-center text-4xl font-bold tracking-tight text-sky-500 sm:text-5xl px-4 py-8">
    Popular Categories
  </h2>

  <turbo-frame id="popular_categories">
    <div class="flex flex-col p-1 text-xl items-center">
      <div class="flex">
        <% @home_page_categories.each do |home_page_category| %>
          <%= link_to home_page_category.title,
                      root_path(category_id: home_page_category.id),
                      class: "text-center p-2 hover:text-sky-500 #{'text-sky-500 underline underline-offset-8' if @selected_category_id == home_page_category.id}",
                      data: { turbo_frame: "popular_categories" } %>
        <% end %>
      </div>
    </div>

    <div class="flex flex-wrap gap-4 p-2 ml-10">
      <% @home_page_category_based_menu_items.each do |menu_item| %>
        <div class="w-72 max-w-sm bg-white rounded-lg shadow-lg border border-sky-200">
          <div class="swiper relative" data-controller="swiper" style="width: 100%; height: 300px;">
            <div class="swiper-wrapper">
              <% if menu_item.menu_images.attached? %>
                <% menu_item.menu_images.each do |image| %>
                  <div class="swiper-slide flex justify-center items-center">
                    <div class="p-2 w-full h-full">
                      <%= image_tag image, class: "object-cover w-full h-full rounded-md" %>
                    </div>
                  </div>
                <% end %>
              <% else %>
                <div class="swiper-slide flex justify-center items-center">
                  <p class="text-gray-600 text-center w-full h-full flex items-center justify-center">
                    No images available
                  </p>
                </div>
              <% end %>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>

          <div class="bg-white p-4 sm:p-6">
            <div class="flex justify-between items-start mb-2">
              <h3 class="text-2xl font-bold tracking-tight text-sky-500 flex-1 mr-1 min-h-[3em] hover:underline">
                <%= link_to menu_item.title, menu_item_path(menu_item), data: { turbo_frame: "_top" } %>
              </h3>
            </div>

            <hr>
            <div class="flex justify-between items-center space-x-4 mt-4">
              <div class="text-center">
                <div class="text-sm text-gray-500">Price</div>
                <div class="text-lg font-semibold">$<%= menu_item.price %></div>
              </div>
              <div class="border-l border-gray-400 h-6"></div>
              <div class="text-center">
                <div class="text-sm text-gray-500">Rating</div>
                <div class="text-lg font-semibold flex items-center">
                  <%= menu_item.avg_rating %>
                  <span class="text-base text-gray-500 ml-1">(<%= menu_item.total_rating %>)</span>
                </div>
              </div>
            </div>

          </div>
        </div>
      <% end %>
    </div>
  </turbo-frame>

</section>


<!--Menu that our customer loved the most-->
<turbo-frame id="popular_categories_test">
  <h2 class="text-center text-4xl font-bold tracking-tight text-sky-500 mb-4 mt-10">
    Menu that our customer loved the most
  </h2>
  <section class="flex mt-8 justify-end ml-10">
    <div class="w-2/6 p-4"> <!--Container 1-->
      <div class="flex flex-wrap gap-4 p-2 ml-10">
        <% if @selected_menu_item %>
          <div class="w-full max-w-sm bg-white rounded-lg shadow-lg border border-sky-200">
            <div class="swiper relative" data-controller="swiper" style="width: 100%; height: 300px;">
              <div class="swiper-wrapper">
                <% if @selected_menu_item.menu_images.attached? %>
                  <% @selected_menu_item.menu_images.each do |image| %>
                    <div class="swiper-slide flex justify-center items-center">
                      <div class="p-2 w-full h-full">
                        <%= image_tag image, class: "object-cover w-full h-full rounded-md" %>
                      </div>
                    </div>
                  <% end %>
                <% else %>
                  <div class="swiper-slide flex justify-center items-center">
                    <p class="text-gray-600 text-center w-full h-full flex items-center justify-center">
                      No images available
                    </p>
                  </div>
                <% end %>
              </div>
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
            </div>

            <div class="bg-white p-4 sm:p-6">
              <div class="flex justify-between items-start mb-2">
                <h3 class="text-2xl font-bold tracking-tight text-sky-500 flex-1 mr-1 min-h-[3em] hover:underline">
                  <%= link_to @selected_menu_item.title, menu_item_path(@selected_menu_item), data: { turbo_frame: "_top" } %>
                </h3>
              </div>

              <hr>
              <div class="flex justify-between items-center space-x-4 mt-4">
                <div class="text-center">
                  <div class="text-sm text-gray-500">Price</div>
                  <div class="text-lg font-semibold">$<%= @selected_menu_item.price %></div>
                </div>
                <div class="border-l border-gray-400 h-6"></div>
                <div class="text-center">
                  <div class="text-sm text-gray-500">Rating</div>
                  <div class="text-lg font-semibold flex items-center">
                    <%= @selected_menu_item.avg_rating %>
                    <span class="text-base text-gray-500 ml-1">(<%= @selected_menu_item.total_rating %>)</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% else %>
          <p class="text-gray-600 text-center">Select a menu item to see details.</p>
        <% end %>
      </div>
    </div>

    <div class="flex flex-col w-1/3 p-4 border-l border-gray-200"><!--Container 2-->
      <div class="flex flex-col p-1 text-xl items-start">
        <% @home_page_menus_that_our_customer_loved_most.each do |menu_item| %>
          <%= link_to root_path(id: menu_item.id), class: "flex items-center text-left p-2 hover:text-sky-500 #{'text-sky-500 underline underline-offset-8' if @selected_menu_item&.id == menu_item.id}" do %>
            <% if menu_item.menu_images.attached? %>
              <%= image_tag menu_item.menu_images.first, class: "w-16 h-16 rounded-full object-cover ring-1 ring-sky-500" %>
            <% else %>
              <%= image_tag 'no_images_available.png', class: "w-16 h-16 rounded-full object-cover ring-1 ring-sky-500" %>
            <% end %>
            <span class="ml-3 self-center text-xl font-semibold whitespace-nowrap text-sky-500"><%= menu_item.title %></span>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>
</turbo-frame>


<!--Testimonials-->
<section class="bg-white">
  <div class="mx-auto max-w-screen-xl px-4 py-12">
    <h2 class="text-center text-4xl font-bold tracking-tight text-sky-500 sm:text-5xl px-4 py-8">
      Read Trusted Reviews<br> From Our Customers
    </h2>

    <div class="mt-8">
      <div id="keen-slider" class="keen-slider">
        <% @menu_items_ratings_with_reviews.each do |menu_items_ratings_with_review| %>
          <div class="keen-slider__slide opacity-40 transition-opacity duration-500">
            <blockquote class="rounded-lg bg-gray-50 p-6 shadow-sm sm:p-8">
              <div class="flex items-center gap-4">
                <%= image_tag menu_items_ratings_with_review.user.avatar, class: "size-14 rounded-full object-cover" %>

                <div>
                  <div class="flex justify-center gap-0.5 text-green-500">
                    <% menu_items_ratings_with_review.rating.to_i.times do %>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="size-5 text-sky-400"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                      >
                        <path
                          d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                          />
                      </svg>
                    <% end %>
                  </div>

                  <p class="mt-0.5 text-lg font-medium text-gray-900"><%= menu_items_ratings_with_review.user.full_name %></p>
                </div>
              </div>

              <p class="mt-4 text-gray-700">
                <%= menu_items_ratings_with_review.review %>
              </p>
            </blockquote>
          </div>
        <% end %>
      </div>

      <div class="mt-6 flex items-center justify-center gap-4">
        <button
          aria-label="Previous slide"
          id="keen-slider-previous"
          class="text-gray-600 transition-colors hover:text-gray-900"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-5"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
          </svg>
        </button>

        <p class="w-16 text-center text-sm text-gray-700">
          <span id="keen-slider-active"></span>
          /
          <span id="keen-slider-count"></span>
        </p>

        <button
          aria-label="Next slide"
          id="keen-slider-next"
          class="text-gray-600 transition-colors hover:text-gray-900"
        >
          <svg
            class="size-5"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M9 5l7 7-7 7"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              />
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>

<link href="https://cdn.jsdelivr.net/npm/keen-slider@6.8.6/keen-slider.min.css" rel="stylesheet" />

<script type="module">
    import KeenSlider from 'https://cdn.jsdelivr.net/npm/keen-slider@6.8.6/+esm'

    const keenSliderActive = document.getElementById('keen-slider-active')
    const keenSliderCount = document.getElementById('keen-slider-count')

    const keenSlider = new KeenSlider(
        '#keen-slider',
        {
            loop: true,
            defaultAnimation: {
                duration: 750,
            },
            slides: {
                origin: 'center',
                perView: 1,
                spacing: 16,
            },
            breakpoints: {
                '(min-width: 640px)': {
                    slides: {
                        origin: 'center',
                        perView: 1.5,
                        spacing: 16,
                    },
                },
                '(min-width: 768px)': {
                    slides: {
                        origin: 'center',
                        perView: 1.75,
                        spacing: 16,
                    },
                },
                '(min-width: 1024px)': {
                    slides: {
                        origin: 'center',
                        perView: 3,
                        spacing: 16,
                    },
                },
            },
            created(slider) {
                slider.slides[slider.track.details.rel].classList.remove('opacity-40')

                keenSliderActive.innerText = slider.track.details.rel + 1
                keenSliderCount.innerText = slider.slides.length
            },
            slideChanged(slider) {
                slider.slides.forEach((slide) => slide.classList.add('opacity-40'))

                slider.slides[slider.track.details.rel].classList.remove('opacity-40')

                keenSliderActive.innerText = slider.track.details.rel + 1
            },
        },
        []
    )

    const keenSliderPrevious = document.getElementById('keen-slider-previous')
    const keenSliderNext = document.getElementById('keen-slider-next')

    keenSliderPrevious.addEventListener('click', () => keenSlider.prev())
    keenSliderNext.addEventListener('click', () => keenSlider.next())
</script>