<!--Menu that our customer loved the most-->
<turbo-frame id="popular_categories_test">
  <h2 class="text-center text-5xl font-bold tracking-tight text-sky-400 mb-4 mt-36">
    Menu That Our Customers <br>
    <span class="text-sky-400 mx-1 font-extrabold relative inline-block stroke-current">
        Loved The Most
        <svg class="absolute -bottom-0.5 w-full max-h-1.5" viewBox="0 0 55 5" xmlns="http://www.w3.org/2000/svg"
             preserveAspectRatio="none">
            <path d="M0.652466 4.00002C15.8925 2.66668 48.0351 0.400018 54.6853 2.00002" stroke-width="2"></path>
        </svg>
    </span>
  </h2>
  <section class="flex mt-8 justify-center ml-10">
    <div class="w-2/6 p-4"> <!--Container 1-->
      <div class="flex flex-wrap gap-4 p-2 ml-10">
        <% if @selected_menu_item %>
          <div class="w-full max-w-sm bg-white rounded-lg overflow-hidden">
            <div class="swiper relative" data-controller="swiper" style="width: 100%; height: 300px;">
              <div class="swiper-wrapper">
                <% if @selected_menu_item.menu_images.attached? %>
                  <%# @selected_menu_item.menu_images.first do |image| %>
                  <div class="swiper-slide flex justify-center items-center">
                    <div class="p-2 w-full h-full flex justify-center items-center">
                      <div class="w-72 h-72 rounded-full overflow-hidden">
                        <%= image_tag @selected_menu_item.menu_images.first, class: "object-cover w-full h-full transition-all duration-300 hover:scale-110" %>
                      </div>
                    </div>
                  </div>
                  <%# end %>
                <% else %>
                  <div class="swiper-slide flex justify-center items-center">
                    <p class="text-gray-600 text-center w-full h-full flex items-center justify-center">
                      No images available
                    </p>
                  </div>
                <% end %>
              </div>
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
            </div>

            <div class="bg-white p-4 sm:p-6">
              <div class="flex flex-col justify-center items-center mb-2">
                <h3 title="<%= @selected_menu_item.title %>" class="text-2xl font-bold tracking-tight text-sky-500 text-center flex-1 mr-1 min-h-[3em] hover:underline">
                  <%= link_to truncate(@selected_menu_item.title, length: 30), menu_item_path(@selected_menu_item), data: { turbo_frame: "_top" } %>
                </h3>
              </div>

              <hr>

              <% plain_text_description = @selected_menu_item.description.to_plain_text %>
              <% first_sentence = plain_text_description[/.*?[.!?](\s|$)/] %>
              <div class="flex justify-center items-center space-x-4 mt-4">
                <div class="text-center">
                  <div title="<%= plain_text_description %>" class="text-lg">
                    <%= first_sentence.present? ? first_sentence : plain_text_description %>
                  </div>
                </div>
              </div>

            </div>
          </div>
        <% else %>
          <p class="text-gray-600 text-center">Select a menu item to see details.</p>
        <% end %>
      </div>
    </div>


    <div class="flex flex-col w-1/3 p-4 border-l border-gray-200">
      <div class="flex flex-col p-1 text-xl items-start">
        <% @home_page_menus_that_our_customer_loved_most.each do |menu_item| %>
          <%= link_to root_path(id: menu_item.id), class: "w-full mb-2" do %>
            <div class="flex items-center hover:bg-sky-400 hover:text-gray-50 hover:rounded-l-full <%= 'bg-sky-400 rounded-l-full rounded-r-md text-gray-50' if @selected_menu_item&.id == menu_item.id %> w-full p-4">
              <% if menu_item.menu_images.attached? %>
                <%= image_tag menu_item.menu_images.first, class: "w-20 h-20 rounded-full object-cover ring-1 ring-sky-500" %>
              <% else %>
                <%= image_tag 'no_images_available.png', class: "w-16 h-16 rounded-full object-cover ring-1 ring-sky-500" %>
              <% end %>
              <div class="ml-4 flex flex-col">
                <span class="text-xl font-semibold whitespace-nowrap">
                  <%= truncate(menu_item.title, length:30) %>
                </span>
                <p class="mt-1 text-gray-500 text-sm <%= 'text-gray-200' if @selected_menu_item&.id == menu_item.id %>">
                  <%= truncate(menu_item.description.to_plain_text, length: 60) %>
                </p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>
</turbo-frame>