<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Inside Restaurant Order" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="turbo-cache-control" content="no-cache">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
<!--    <meta name="tinymce-api-key" content="<%#= Rails.application.credentials.dig(:tiny_mce_api_key) %>">-->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
      />

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
  <% unless hide_elements_on_pages? %>
    <nav class="bg-white dark:bg-gray-900 w-full z-20 top-0 start-0 border-b border-gray-200">
      <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <%= link_to root_path, class: "flex items-center" do %>
          <%= image_tag "restaurant.png", class: "mr-3 h-6 sm:h-9", alt: "Restaurant Logo" %>
          <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Restaurant</span>
        <% end %>

        <div class="flex items-center md:order-2">
          <% if user_signed_in? %>
            <% if current_user.is_admin? %>
              <div class="hidden md:block mr-4">
                <%= link_to "Admin dashboard", admin_dashboards_path, class: "bg-sky-500 hover:bg-sky-600 text-white font-bold py-2 px-4 rounded" %>
              </div>
            <% end %>
            <div data-controller="dropdown" class="relative">
              <button type="button" data-action="dropdown#toggle click@window->dropdown#hide" class="flex items-center">
                <% if current_user.avatar.attached? %>
                  <%= image_tag current_user.avatar, alt: "User Avatar", class: "w-10 h-10 rounded-full" %>
                <% else %>
                  <%= image_tag 'customer_icon.png', class: "w-10 h-10 rounded-full" %>
                <% end %>
              </button>

              <div
                data-dropdown-target="menu"
                class="hidden bg-white dark:bg-gray-800 shadow-lg rounded-lg py-2 mt-2 w-48 transition transform origin-top-right absolute right-0 z-50"
                data-transition-enter-from="opacity-0 scale-95"
                data-transition-enter-to="opacity-100 scale-100"
                data-transition-leave-from="opacity-100 scale-100"
                data-transition-leave-to="opacity-0 scale-95"
              >

                <% if current_user.is_admin? %>
                  <div class="md:hidden">
                    <%= link_to "Admin dashboard", admin_dashboards_path, class: "block w-full text-left px-4 py-2 text-gray-700 dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-700" %>
                  </div>
                <% end %>
                <%= button_to "Edit Account", edit_user_registration_path, method: "get",
                              class: "block w-full text-left px-4 py-2 text-gray-700 dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-700" %>
                <%= button_to "Sign out", destroy_user_session_url, method: "delete",
                              class: "block w-full text-left px-4 py-2 text-gray-700 dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-700" %>
              </div>
            </div>
          <% else %>
            <%= link_to "Sign In", new_user_session_path, class: "text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2 md:px-5 md:py-2.5 mr-1 md:mr-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800" %>
            <%= link_to "Sign Up", new_user_registration_path, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 md:px-5 md:py-2.5 mr-1 md:mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
          <% end %>
        </div>
      </div>
    </nav>
  <% end %>

  <div
    data-controller="notification"
    data-notification-delay-value="2000"
    class="fixed top-4 right-4 z-50 transition transform duration-1000 hidden"
    data-transition-enter-from="opacity-0 translate-x-6"
    data-transition-enter-to="opacity-100 translate-x-0"
    data-transition-leave-from="opacity-100 translate-x-0"
    data-transition-leave-to="opacity-0 translate-x-6"
  >
    <% if alert || notice %>
      <div class="bg-white border border-gray-300 shadow-lg rounded p-4">
        <div>
          <% if notice %>
            <p role="alert" class="text-green-500"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p role="alert" class="text-red-500"><%= alert %></p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <main>
    <%= yield %>
  </main>
  </body>
</html>
