<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Inside Restaurant Order" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
  <% unless hide_elements_on_pages? %>
    <div>
      <%= link_to 'Restaurant', root_path %>
    </div>
    <% if user_signed_in? %>
      <% if current_user.is_admin? %>
        <div>
          <%= link_to "Admin Dashboard", admin_dashboards_path %>
        </div>
      <% end %>
      <div>
        Hello, <%= current_user.full_name %> (<%= current_user.role %>)
      </div>
      <div>
        <% if current_user.avatar.attached? %>
          <%= image_tag current_user.avatar, alt: "User Avatar", style: "width: 50px; height: 50px; border-radius: 50%;" %>
        <% else %>
          <p>No avatar uploaded</p>
        <% end %>
      </div>
      <div>
        <%= button_to "Log Out", destroy_user_session_url, method: "delete" %>
      </div>
    <% else %>
      <%= button_to "Log In", new_user_session_url, method: "get" %>
      <%= button_to "Sign Up", new_user_registration_url, method: "get" %>
    <% end %>
  <% end %>

  <% if alert || notice %>
    <div>
      <div>
        <% if notice %>
          <p role="alert" class="text-green-500"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p role="alert" class="text-red-500"><%= alert %></p>
        <% end %>
      </div>
    </div>
  <% end %>

  <%= yield %>
  </body>
</html>
